/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --Body CSS-- --BEGIN--*/
body
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
  margin-top: 0px;
}

.Form_Header
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #003768;
  padding-top: 20px;
  padding-bottom: 5px;
}
/*---END--- --Body CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --UpdateProgress CSS-- --BEGIN--*/
.UpdateProgressBackground
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #dfdfdf;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.UpdateProgressContent
{
  
}
/*---END--- --UpdateProgress CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --Table CSS-- --BEGIN--*/
.Table
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 1px solid #003668;
  border-collapse: collapse;
  border-spacing: 0px;
}

.Table td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 0px;
}

.Table .Table_TemplateField
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
}

.Table_Header
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: 0px;
  background: url(Images/Blue/HeaderBg.gif) repeat-x top;
  color: #ffffff;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.Table_Header td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.Table_Body
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.Table_Body td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border: 1px solid #dfdfdf;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
}

.Table_Body .Table_BodyHeaderWhite
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  border: 0px;
  background: url(Images/Blue/CaptionBg.gif) repeat-x top;
  color: #000000;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.Table_Footer
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  border: 0px;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
}

.Table_Footer td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
}
/*---END--- --Table CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --Controls CSS-- --BEGIN--*/
.Controls td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
  white-space: nowrap;
}

.Controls_NoBorder
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
}

.ControlsView
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
}

.Controls_Validation
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #b0262e;
}

.Controls_Error
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #b0262e;
}

.Controls_EmailMessage
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.Controls_DropDownList
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
}

.Controls_DropDownList_FixedWidth
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000; /*width: 95%;*/
}

.Controls_TextBox
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
}

.Controls_TextBox_AlignRight
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
  text-align: right;
}

.Controls_TextBox_Calculation
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  background-color: #f7f7f7;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.Controls_TextBox_CalculationAlignRight
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  background-color: #f7f7f7;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  text-align: right;
}

.Controls_TextBox_CalculationAlignRight_AlternatingRowStyle
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  background-color: #ebf2f8;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  text-align: right;
}

.Controls_Button
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
}

.Controls_Watermark
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #cccccc;
}

.Controls_CheckBoxListWithScrollbars td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
  white-space: normal;
}

.Controls_AjaxHTMLEditor
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
  border: 1px solid #dfdfdf;
}

.Controls_FileUpload
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #000000;
}

.Controls_ImageButton_NoHand
{
  cursor: default;
}

.Controls_CheckBoxList
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
  white-space: normal;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

.Controls_AutoCompleteExtender_CompletionListCssClass {
  border:solid 1px #003668;
  margin:0px;
  padding:2px;
  overflow:auto;
  background-color: #FFFFFF;
}

.Controls_AutoCompleteExtender_CompletionListItemCssClass {
  color: #1C1C1C;
}

.Controls_AutoCompleteExtender_CompletionListHighlightedItemCssClass {
  background-color: #f7f7f7;
}

.Controls_HyperLink_ColorBackground
{
  color: #333333 !important;
}

.Controls_WrapText
{
  word-wrap: normal; 
  word-break: break-all;
}
/*---END--- --Controls CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --GridView CSS-- --BEGIN--*/
.GridView
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.GridView td
{
  padding: 0px;
}

.GridView_HeaderStyle td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  vertical-align: top;
  text-align: left;
  padding: 3px;
  border: 1px solid #dfdfdf;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  white-space: nowrap;
}

.GridView_HeaderStyle a:link
{
  color: #000000;
}

.GridView_RowStyle td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  vertical-align: top;
  padding: 3px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  color: #000000;
}

.GridView_RowStyle a:link
{
  color: #0059b2;
}

.GridView_RowStyle a:visited, .GridView_RowStyle a:hover, .GridView_RowStyle a:active
{
  color: #002e50;
}

.GridView_RowStyle_TemplateField 
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.GridView_RowStyle_TemplateField table
{
  border-bottom: 1px solid #003768;
}

.GridView_RowStyle_TemplateField td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  vertical-align: top;
  padding: 0px;
  border: 1px solid #dfdfdf;
  border-bottom: 0px solid #dfdfdf;
  background-color: #f7f7f7;
  color: #000000;
}

.GridView_RowStyle_TemplateField a:link
{
  color: #0059b2;
}

.GridView_RowStyle_TemplateField a:visited, .GridView_RowStyle_TemplateField a:hover, .GridView_RowStyle_TemplateField a:active
{
  color: #002e50;
}

.GridView_AlternatingRowStyle td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  vertical-align: top;
  padding: 3px;
  border: 1px solid #dfdfdf;
  background-color: #ebf2f8;
  color: #000000;
}

.GridView_AlternatingRowStyle a:link
{
  color: #0059b2;
}

.GridView_AlternatingRowStyle a:visited, .GridView_AlternatingRowStyle a:hover, .GridView_AlternatingRowStyle a:active
{
  color: #002e50;
}

.GridView_AlternatingRowStyle_TemplateField table
{
  border-bottom: 1px solid #003768;
}

.GridView_AlternatingRowStyle_TemplateField td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  vertical-align: top;
  padding: 0px;
  border: 1px solid #dfdfdf;
  border-bottom: 0px solid #dfdfdf;
  background-color: #ebf2f8;
  color: #000000;
}

.GridView_AlternatingRowStyle_TemplateField a:link
{
  color: #0059b2;
}

.GridView_AlternatingRowStyle_TemplateField a:visited, .GridView_AlternatingRowStyle_TemplateField a:hover, .GridView_AlternatingRowStyle_TemplateField a:active
{
  color: #002e50;
}

.GridView_FooterStyle td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}

.GridView_FooterStyle_TemplateField td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 0px;
  border: 1px solid #dfdfdf;
  border-bottom: 0px solid #dfdfdf;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}

.GridView_PagerStyle
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 0px;
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.GridView_PagerStyle td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border: 0px;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}

.GridView_PagerStyle_TemplateField td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 0px;
  border: 0px;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}

.GridView_EmptyDataStyle
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.GridView_EmptyDataStyle td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
  white-space: nowrap;
}

.GridView_EmptyDataStyle_HeaderStyle td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}

.GridView_EmptyDataStyle_FooterStyle td, th
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #dfdfdf;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}

.GridView_EmptyDataStyle_TemplateField 
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.GridView_EmptyDataStyle_TemplateField td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 0px;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
  white-space: nowrap;
}

.GridView_Columns {
  padding: 3px !important;
}
/*---END--- --GridView CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --FormView CSS-- --BEGIN--*/
.FormView
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.FormView_TableBody
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  border: 0px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.FormView_TableBody td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border: 1px solid #dfdfdf;
  vertical-align: top;
  background-color: #f7f7f7;
  color: #000000;
}

.FormView_TableBody .FormView_AlternatingRowStyle td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  padding: 3px;
  border: 1px solid #dfdfdf;
  vertical-align: top;
  background-color: #ebf2f8;
  color: #000000;
}

.FormView_TableBody .FormView_TableBodyHeader
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  border: 0px;
  background: url(Images/Blue/HeaderBg.gif) repeat-x top;
  color: #ffffff;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.FormView_TableBody .FormView_TableBodyHeaderWhite
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  border: 0px;
  background: url(Images/Blue/CaptionBg.gif) repeat-x top;
  color: #000000;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.FormView_TableBody .FormView_TableBodyHeaderRed
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px;
  border: 0px;
  background: url(Images/Red/CaptionBg.gif) repeat-x top;
  color: #000000;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.FormView_TableFooter td
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  border: 0px;
  background-image: url('Images/Blue/CaptionBg.gif');
  color: #000000;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
}
/*---END--- --FormView CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*--BEGIN-- --Calendar CSS-- --BEGIN--*/
.Calendar .ajax__calendar_container
{
  background-color: #e2e2e2;
  border: solid 1px #003768;
}

.Calendar .ajax__calendar_header
{
  background-color: #e2e2e2;
  margin-bottom: 4px;
}

.Calendar .ajax__calendar_prev
{
  color: #b0262e;
  padding-top: 3px;
}

.Calendar .ajax__calendar_title
{
  color: #003768;
  padding-top: 3px;
}

.Calendar .ajax__calendar_hover .ajax__calendar_title
{
  background-color: #e2e2e2;
  color: #b0262e;
}

.Calendar .ajax__calendar_next
{
  color: #b0262e;
  padding-top: 3px;
}

.Calendar .ajax__calendar_body
{
  background-color: #e9e9e9;
}

.Calendar .ajax__calendar_days
{
}

.Calendar .ajax__calendar_dayname
{
  text-align: center;
  font-weight: bold;
  color: #b0262e;
  background-color: #ebf2f8;
}

.Calendar .ajax__calendar_day
{
  text-align: center;
  color: #003768;
  background-color: #ebf2f8;
}

.Calendar .ajax__calendar_other .ajax__calendar_day
{
  color: #bbbbbb;
  background-color: #f7f7f7;
}

.Calendar .ajax__calendar_active .ajax__calendar_day
{
  color: #b0262e;
}

.Calendar .ajax__calendar_hover .ajax__calendar_day
{
  color: #b0262e;
}

.Calendar .ajax__calendar_months
{
}

.Calendar .ajax__calendar_month
{
  text-align: center;
  color: #003768;
}

.Calendar .ajax__calendar_other .ajax__calendar_month
{
  color: #bbbbbb;
}

.Calendar .ajax__calendar_active .ajax__calendar_month
{
  color: #b0262e;
}

.Calendar .ajax__calendar_hover .ajax__calendar_month
{
  color: #b0262e;
}

.Calendar .ajax__calendar_years
{
}

.Calendar .ajax__calendar_year
{
  text-align: center;
  color: #003768;
}

.Calendar .ajax__calendar_other .ajax__calendar_year
{
  color: #bbbbbb;
}

.Calendar .ajax__calendar_active .ajax__calendar_year
{
  color: #b0262e;
}

.Calendar .ajax__calendar_hover .ajax__calendar_year
{
  color: #b0262e;
}

.Calendar .ajax__calendar_footer
{
  background-color: #e2e2e2;
}

.Calendar .ajax__calendar_hover .ajax__calendar_footer
{
  color: #b0262e;
}

.Calendar .ajax__calendar_today
{
  color: #003768;
  font-weight: bold;
}

.Calendar .ajax__calendar_hover
{
  color: #b0262e;
  font-weight: bold;
}

.Calendar .ajax__calendar_active
{
  color: #b0262e;
  font-weight: bold;
  background-color: #ffffff;
}

.Calendar .ajax__calendar_other
{
  color: #bbbbbb;
}
/*---END--- --Calendar CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/

/*---END--- --ToolTip CSS-- ---END---*/
a.tt
{
  position: relative;
  z-index: 24;
  cursor: default;
}

a.tt span
{
  display: none;
}

a.tt:hover span.tooltip
{
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0px 0px 0px 0px;
  width: 250px;
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: #003768;
}

a.tt:hover span.top
{
  display: block;
  padding: 0px 0px 0px 0px;
}

a.tt:hover span.middle
{
  display: block;
  padding: 5px 5px 5px 5px;
}

a.tt:hover span.bottom
{
  display: block;
  padding: 0px 0px 0px 0px;
}
/*---END--- --ToolTip CSS-- ---END---*/

/*----------------------------------------------------------------------------------------------------*/