<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="InfoQuestConnectionString" connectionString="Data Source=DSQLOTH01\OTH_INS;Initial Catalog=InfoQuest;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="InfoQuestMOSSConnectionString" connectionString="Data Source=DSQLOTH01\OTH_INS;Initial Catalog=InfoQuestMOSS;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="PatientDetailEDWConnectionString" connectionString="Data Source=EDW_HOST.lhc.local\EDW_INS;Initial Catalog=REPORTING;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="PatientDetailEDWStagingConnectionString" connectionString="Data Source=OTH2_HOST.lhc.local\OTH2_INS;Initial Catalog=stg_EDW_prs_PatientActivity;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="PatientDetailODSConnectionString" connectionString="Data Source=ODS_HOST.lhc.local\ODS_INS;Initial Catalog=ODS_Reports;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="PatientDetailFacilityStructureConnectionString" connectionString="Data Source=ODS_HOST.lhc.local\ODS_INS;Initial Catalog=FacilityStructure;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="PatientDetailMedocConnectionString" connectionString="Data Source=OTH2_HOST.lhc.local\OTH2_INS;Initial Catalog=Medoc;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
    <add name="EmployeeDetailVisionConnectionString" connectionString="Data Source=VIS_HOST.lhc.local\VIS_INS;Initial Catalog=EV_Data;Persist Security Info=True;User ID=InfoQuestUser;Password=1nf0qu3st" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="EnableViewState" value="true"/>
    <add key="EnableViewStateMac" value="true"/>
    <add key="ViewStateEncryptionMode" value="Always"/>
    <!--ViewStateServerSide: Yes|No-->
    <add key="ViewStateServerSide" value="Yes"/>
    <!--ViewStateServerSide = Yes , ViewStateType: Default|File|Cache|Session-->
    <add key="ViewStateType" value="Default"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <globalization culture="en-ZA" uiCulture="en-ZA"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536">
          <security mode="TransportCredentialOnly">
          <!--<security mode="None">-->
          <!--<security mode="Message">-->
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="SMSSoap" />
        <binding name="BasicHttpBinding_ITwoWayAsync" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SMSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.27.11.142/SMS_WS/default.asmx"
        binding="basicHttpBinding" bindingConfiguration="SMSSoap" contract="ServiceReference_TxtPlus.SMSSoap"
        name="SMSSoap" />
      <endpoint address="http://172.27.11.142/SMS_WS/default.asmx"
        binding="customBinding" bindingConfiguration="SMSSoap12" contract="ServiceReference_TxtPlus.SMSSoap"
        name="SMSSoap12" />
      <endpoint address="http://dlmhs53v.lhc.local/MHS_WCF_QualitySurvey/QualitySurveyService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
        contract="ServiceReference_MHS_PXM.QualitySurveyService" name="BasicHttpBinding_ITwoWayAsync" />
    </client>
    <services>
      <service name="InfoQuestWCF.Services_InfoQuest">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest" contract="InfoQuestWCF.IService_InfoQuest"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_PXM" contract="InfoQuestWCF.IService_InfoQuest_PXM"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_MonthlyHospitalStatistics" contract="InfoQuestWCF.IService_InfoQuest_MonthlyHospitalStatistics"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_MonthlyPharmacyStatistics" contract="InfoQuestWCF.IService_InfoQuest_MonthlyPharmacyStatistics"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_ECM" contract="InfoQuestWCF.IService_InfoQuest_ECM"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_Administration" contract="InfoQuestWCF.IService_InfoQuest_Administration"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_SustainabilityManagement" contract="InfoQuestWCF.IService_InfoQuest_SustainabilityManagement"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_MonthlyOccupationalHealthStatistics" contract="InfoQuestWCF.IService_InfoQuest_MonthlyOccupationalHealthStatistics"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_Alert" contract="InfoQuestWCF.IService_InfoQuest_Alert"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_InfoQuest_Incident" contract="InfoQuestWCF.IService_InfoQuest_Incident"/>
      </service>
      <service name="InfoQuestWCF.Services_MHS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_MHS" contract="InfoQuestWCF.IService_MHS"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" name="BasicHttpEndpoint_MHS_PXM" contract="InfoQuestWCF.IService_MHS_PXM">
          <identity></identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>